.product-view_modal {
    position: fixed;
    z-index: 102;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &_content {
        margin: auto;
        padding: 2rem;
        background-color: $main-bg;
        width: 50%;
        position: relative;
        opacity: 0;
        transform: translateY(-250px);
        transition: transform .5s ease;

        &_close {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &.active &_content {
        opacity: 1;
        transform: translateY(0);
    }
}